<link rel = "stylesheet" href = "/css/apartment-details.css" type = "text/css">
<script src = "/js/apartment-details.js"></script>
<div>
    <h1>{{mainMessage}}</h1>
</div>
<div>
    <ul>
        <li>Apartment Number: {{aptNum}}</li>
        <li>Number of Bedrooms: {{bedrooms}}</li>
        <li>Number of Bathrooms: {{bathrooms}}</li>
        <li>Square footage: {{sqft}}</li>
        <li>Rent: {{rent}}</li>
        <li>Amenities: {{amenities}}</li>
    </ul>
</div>