<link rel = "stylesheet" href = "/css/apartment-details.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/apartment-details.js"></script>
<div>
    <h1>{{mainMessage}}</h1>
</div>

<div class="row">
    <div class="col">
        <p>Photos</p>
        <!--<img src="images/apartment-sample.jpg" width="320" height = "214"> Couldn't get it to show for w/e reason-->
    </div>
    <div class="col">
        <ul>
            {{#each apartment}}
            <li>Apartment Number: {{aptNumber}}</li>
            <li>Number of Bedrooms: {{numBeds}}</li>
            <li>Number of Bathrooms: {{numBath}}</li>
            <li>Date Available: {{dateAvailable}}</li>
            <li>Rent: {{rent}}</li>
            {{/each}}
            <li>Amenities:
                <ul>
                    {{#each amenities}}
                    <li>{{amenDescription}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>

