<link rel = "stylesheet" href = "/css/apartment.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/apartment.js"></script>
<div>
    <h1>{{mainMessage}}</h1>
</div>
<div>
    
    <form class = "filterApartments">
        <div class="container">
            <div class="row">
                <div class="col">
                    Rent
                    <input type="number" id="rentMin" name="rentMin" min="0" max="10000" placeholder="MINIMUM"> -
                    <input type="number" id="rentMax" name="rentMax" min="0" max="10000" placeholder="MAXIMUM"> 
                </div>
                <div class="col">
                    Beds
                    <input type="number" id="bedMin" name="bedMin" min="0" max="10" placeholder="MINIMUM"> -
                    <input type="number" id="bedMax" name="bedMax" min="0" max="10" placeholder="MAXIMUM"> 
                </div>
                <div class="col">
                    Baths
                    <input type="number" id="bathMin" name="bathMin" min="1" max="10" placeholder="MINIMUM"> -
                    <input type="number" id="bathMax" name="bathMax" min="1" max="10" placeholder="MAXIMUM"> 
                </div>
                <div class="col">
                    <button type="submit">Filter</button>
                </div>
            </div>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Apartment Number</th>
                <th>Number of Bedrooms</th>
                <th>Number of Bathrooms</th>
                <th>Date Available</th>
                <th>Rent</th>
                <th>More Info</th>
                <th>Schedule a Viewing</th>
            </tr>
        </thead>
        <tbody>
            {{#each apartments}}
            <tr>
                <td>{{aptNumber}}</td>
                <td>{{numBeds}}</td>
                <td>{{numBaths}}</td>
                <td>{{dateAvailable}}</td>
                <td>{{rent}}</td>
                <td><a href="/apartment-details">More Info HERE!</a></td>
                <td><a href="/create-account">Click Here to Request a Viewing</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="card" style="width: 100%;" id="listingCard">
        <div class="row">
            <div class="col-md-5" class="card-img-left" id="imgCard">
                {{!-- <div > --}}
                    <img src="/images/apartment-sample.jpg" alt="Card image cap" style="width: 100%">
                {{!-- </div> --}}
            </div>
            <div class="col-md-6" id="bodyCard"> 
                <div class="card-body" >
                    <ul>
                        <li>Number of Bedrooms: 1</li>
                        <li>Apartment Number: 123 </li>
                        <li>Number of Bathrooms : 1</li>
                        <li>Date Available: 01/01/2020</li>
                        <li>Rent: 2000</li>
                        <li><a href="/create-account">Schedule A Viewing</a></li>
                        {{!-- <li><a>Schedule a Viewing</a></li> --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>  

</div>