<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel = "stylesheet" href = "/css/manager.css" type = "text/css">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src = "/js/manager.js"></script>

<div>
    <h1>Manager Portal</h1>
</div>

<h3 class="hideContentTxt" id="listingTxt">Manage Listings</h3>
<div class="hiddenContent" class="col-*-*" id="listingContent">
    <form id="filterListings">
        <input list="status" name="status" placeholder="Filter by Status">
        <datalist id="status">
            <option value="Available"></option>
            <option value="Unavailable"></option>
        </datalist>
        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Apartment Number</th>
                <th>Rent</th>
                <th>Number of Bedrooms</th>
                <th>Number of Bathrooms</th>
                <th>Date Available</th>
                <th>Apartment Status</th>

            </tr>
        </thead>
        <tbody id="allApts">
            {{#each apartments}}
            <tr id="{{aptID}}">
                <form class="saveApt">
                    <td>
                        <input type="hidden" value="{{aptID}}" name="aptID">
                        <input type="number" value="{{aptNumber}}" name="aptNumber" min = "1" max= "9999">
                    </td>
                    <td><input type="number" value="{{rent}}" name="rent" min = "1" max= "9999"></td>
                    <td><input type="number" value="{{numBeds}}" name="numBeds" min = "0" max= "10"></td>
                    <td><input type="number" value="{{numBaths}}" name="numBaths" min = "1" max= "10"></td>
                    <td><input type="date" value="{{dateAvailable}}" name="dateAvailable"></td>
                    <td><input type="text" value="{{availabilityStatus}}" name="availabilityStatus"></td>
                    <td><button type="submit" value="save" class="saveApt"><img src="/icons/save.png" height="24" width="24"></button></td>
                </form>
                <td>
                    <button type="submit" value="delete" class="deleteApt"><img src="/icons/delete.png" height="24" width="24"></button>
                </td>
            </tr>
            {{/each}}

        </tbody>
        <tr>
            {{!-- <td><a href="/new-listing">Add Listing</a></td> --}}
            <td><button class="newApt">New Listing</button></td>
        </tr>
    </table>
</div>

<h3 class="hideContentTxt" id="amenTxt">Manage Amenities</h3>
<div class="hiddenContent" class="col-*-*" id="amenContent">
        <table>
            <thead>
                <tr>
                    <th>Amenity Description</th>
                </tr>
            </thead>
            <tbody id="allAmenities">
                {{#each amenities}}
                <tr id="{{amenID}}">
                    <form class="saveAmenity">
                        <td>
                        <input type="hidden" value="{{amenID}}" name="amenID">
                        <input type="text" value="{{amenDescription}}" name="amenDescription">
                        </td>
                        <td><button type="submit" class="save"><img src="/icons/save.png" height="24" width="24"></button></td>
                    </form>
                    <td><button class="deleteAmenity" type="submit"><img src="/icons/delete.png" height="24" width="24"></button></td>
                </tr>
                {{/each}}
            </tbody>
            <tr>
                <td><button class="newAmenity">New Amenity</button></td>
            </tr>
        </table>
    {{!-- <h5>Add Amenity:</h5>
        <form id = "addAmenity" action = "/manager-portal" method = "post">
            <label for = "amenDescrip">Amenity Description:</label>
            <input type = "text" name = "amenDescrip" maxlength="30">
            <input type = "submit" value = "Submit">
        </form> --}}

</div>

<h3 class="hideContentTxt" id="manPeopleTxt">Manage People</h3>
<div class="hiddenContent" class="col-*-*" id="peopleContent">
        <h4 class="hideContentTxt" id="manCustomerTxt">Manage Customers</h4>
        <div class="hiddenContent" id="custContent">
            <form class = "filterCustomers">
                <input list="custType" name="custType" placeholder="Filter by Type of Customer">
                <datalist id="custType">
                    <option value="Tenant"></option>
                    <option value="Prospective"></option>
                </datalist>
                <button type="submit">Filter</button>
            </form>
            <table>
                <thead>
                    <tr >
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="allCustomers">
                    {{#each customers}}
                    <tr id="{{custID}}">
                        <form class="saveCustomer">
                            <td><input type="text" value="{{custFName}}" name="custFName" required></td>
                            <td><input type="text" value="{{custLName}}" name="custLName" required></td>
                            <td><input type="email" value="{{custEmail}}" name="custEmail" required></td>
                            <td><input type="number" value="{{custPhone}}" name="custPhone" pattern="[0-9]{10}|[0-9]{3}-[0-9]{3}-[0-9]{4}"></td>
                            <td><input type="text" value="{{rentStatus}}" name="rentStatus" required></td>
                            <td><button type="submit" class="save"><img src="/icons/save.png" height="24" width="24"></button></td>
                        </form>
                        <td><button class="deleteCustomer" type="submit"><img src="/icons/delete.png" height="24" width="24"></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
        <h4 class="hideContentTxt" id="manTechTxt">Manage Technicians</h4>
        <div class="hiddenContent" id="techContent">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody id="allTechnicians">
                    {{#each technicians}}
                    <tr id="{{this.techID}}">
                        <form class="saveTechnican">
                            <td><input type="text" value="{{techFName}}" name="techFName" required></td>
                            <td><input type="text" value="{{techLName}}" name="techLName" required></td>
                            <td><input type="email" value="{{techEmail}}" name="techEmail" required></td>
                            <td><input type="number" value="{{techPhone}}" name="techPhone" pattern="[0-9]{10}|[0-9]{3}-[0-9]{3}-[0-9]{4}" required></td>
                            <td><button type="submit" class="save"><img src="/icons/save.png" height="24" width="24"></button></td>
                        </form>
                        <td><button class="deleteTechnician" type="submit"><img src="/icons/delete.png" height="24" width="24"></button></td>
                    </tr>
                    {{/each}}
                </tbody>
                {{!-- <tr>
                    <td>
                        <a href="/new-technician">Add Technician</a>
                    </td>
                </tr> --}}
            </table>
        </div>

</div>



