<link rel = "stylesheet" href = "/css/manager.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/manager.js"></script>

<div>
    <h1>{{mainMessage}}</h1>
</div>

<h3 class="hideContentTxt" id="listingTxt">Manage Listings</h3>
<div class="hiddenContent" class="col-*-*" id="listingContent">
    <form id="filterListings">
        <input list="status" name="status" placeholder="Filter by Status">
        <datalist id="status">
            <option value="Available"></option>
            <option value="Unavailable"></option>
        </datalist>
        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Apartment Number</th>
                <th>Rent</th>
                <th>Number of Bedrooms</th>
                <th>Number of Bathrooms</th>
                <th>Date Available</th>
                <th>Apartment Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each apartments}}
            <tr id="editListingRow">
                <td>{{aptNumber}}</td>
                <td>{{rent}}</td>
                <td>{{numBeds}}</td>
                <td>{{numBaths}}</td>
                <td>{{dateAvailable}}</td>
                <td>{{availabilityStatus}}</td>
                <!--<td><button onclick="deleteApt({{aptID}})">Delete</button></td>
                <td><a href="/manager-portal/{{aptID}}">Update</a></td>-->
            </tr>
            {{/each}}
        </tbody>
        <tr>
            <td><a href="/newListing">Add Listing</a></td>
        </tr>
    </table>
</div>

<h3 class="hideContentTxt" id="amenTxt">Manage Amenities</h3>
<div class="hiddenContent" class="col-*-*" id="amenContent">
        <table>
            <thead>
                <tr>
                    <th>Amenity Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each amenities}}
                <tr>
                    <td>{{amenDescription}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    <h5>Add Amenity:</h5>
        <form>
            <label for = "amenDescrip">Amenity Description:</label>
            <input type = "text" name = "amenDescrip" maxlength="30">
            <input type = "submit" value = "Submit">
        </form>

</div>

<h3 class="hideContentTxt" id="manPeopleTxt">Manage People</h3>
<div class="hiddenContent" class="col-*-*" id="peopleContent">
    {{!-- <div id="peopleContent"> --}}
        <h4 class="hideContentTxt" id="manCustomerTxt">Manage Customers</h4>
        <div class="hiddenContent" id="custContent">
            <form class = "filterCustomers">
                <input list="custType" name="custType" placeholder="Filter by Type of Customer">
                <datalist id="custType">
                    <option value="Tenant"></option>
                    <option value="Prospective"></option>
                </datalist>
                <button type="submit">Filter</button>
            </form>
            <table>
                <thead>
                    <tr >
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr id="editCustomerRow">
                        <td>{{custFName}}</td>
                        <td>{{custLName}}</td>
                        <td>{{custEmail}}</td>
                        <td>{{custPhone}}</td>
                        <td>{{rentStatus}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
        <h4 class="hideContentTxt" id="manTechTxt">Manage Technicians</h4>
        <div class="hiddenContent" id="techContent">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each technicians}}
                    <tr id="editTechnicianRow">
                        <td>{{techFname}}</td>
                        <td>{{techLname}}</td>
                        <td>{{techEmail}}</td>
                        <td>{{techPhone}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <tr>
                    <td>
                        <a href="/newTechnician">Add Technician</a>
                    </td>
                </tr>
            </table>
        </div>
    {{!-- </div> --}}

</div>



